<div>


    <div class="top-section  mat-bg-accent">
        <ng-container *ngIf="auth.user$ | async as user">
            <div class="user-avatar-container mat-border-primary mat-bg-background">
                <img [src]="user.picture"
                     class="user-avatar " />
            </div>
            <span class="text-center">
                <h3>
                    {{ user.name }}
                </h3>
            </span>
        </ng-container>
    </div>

    <mat-nav-list>

        <ng-container *ngFor="let link of topLinks">
            <a mat-list-item
               [routerLink]="link.url"
               (click)="close()">
                <mat-icon>
                    {{link.icon}}
                </mat-icon>
                {{link.title}}
            </a>

        </ng-container>
        <mat-divider>

        </mat-divider>
        <ng-container *ngFor="let link of links">
            <a mat-list-item
               [routerLink]="link.url"
               (click)="close()"
               [disabled]="link.disabled">
                <mat-icon>
                    {{link.icon}}
                </mat-icon>
                {{link.title}}
            </a>

        </ng-container>


        <mat-divider></mat-divider>

        <a mat-list-item
           [routerLink]="''"
           (click)="handleChangeThemeClick()">
            <mat-icon>
                moon
            </mat-icon>
            Change theme
        </a>



    </mat-nav-list>
</div>