<mat-card class="small-card  mat-elevation-z4 h-100">
  <mat-card-header>

    <a mat-button
       [routerLink]="link.url">
      {{link.title}}
    </a>
    <span class="pt-2">
      (last {{summaryConfig.top}} {{summaryConfig.summaryRangeType}}{{ summaryConfig.top >=2 ? 's' : '' }})

    </span>

  </mat-card-header>

  <mat-card-content>

    <app-summary [predictions$]="predictions$"
                 [compact]="summaryConfig.compact"
                 [top]="summaryConfig.top"
                 [summaryRangeType]="summaryConfig.summaryRangeType">

    </app-summary>


  </mat-card-content>


</mat-card>