<mat-list>
    <div mat-subheader>Scheduled operations</div>
    <ng-container *ngFor="let so of scheduledOperations">

        <mat-list-item>
            <mat-icon mat-list-icon>event</mat-icon>
            <div mat-line>{{so.name}} : {{so.value}}</div>
            <div mat-line> id:{{ so.schedule.id}};
                dw:[{{ so.schedule.day_of_week}}];
                dm:[{{ so.schedule.day_of_month}}];
                m:[{{ so.schedule.month}}];
                y:[{{ so.schedule.year}}]
            </div>

            <button mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>


            <mat-menu #menu="matMenu">
                <button mat-menu-item
                        color="warn"
                        (click)="deleteOperation(so)">
                    <mat-icon>delete</mat-icon>
                    <span>Delete</span>
                </button>
                <button mat-menu-item
                        color="accent"
                        (click)="modifyOperation(so)">
                    <mat-icon>edit</mat-icon>
                    <span>Modify</span>
                </button>
                <button mat-menu-item
                        disabled>
                    <mat-icon>notifications_off</mat-icon>
                    <span>Placeholder</span>
                </button>
            </mat-menu>


        </mat-list-item>

    </ng-container>


</mat-list>





<button mat-flat-button
        (click)="onNewClick()">
    New
</button>