<div *ngIf="displayTitle"
     class="row p-2">
    <div class="col">
        <span class="mat-display-1">
            Scheduled operations
        </span>
    </div>
</div>


<div class="row no-gutters">


    <div class="col-12 col-lg-3">

        <div class="w-100 pt-3 pb-3 row m-0">
            <div class="col p-0 ">
                <button mat-flat-button
                        type="button"
                        color="primary"
                        class="w-100"
                        [disabled]="!this.allScheduledOperations"
                        (click)="onNewClick()">
                    <mat-icon>
                        add
                    </mat-icon>
                    Add new
                </button>
            </div>
            <div *ngIf="!simple" class="col-auto p-0">
                <button mat-button
                        [matMenuTriggerFor]="menu">
                    <mat-icon>
                        more_vert
                    </mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item
                            type="button"
                            color="warn"
                            [disabled]="!this.allScheduledOperations ||  this.allScheduledOperations.length == 0"
                            (click)="deleteAll()">
                        <mat-icon>
                            delete
                        </mat-icon>
                        Delete all operations
                    </button>



                </mat-menu>
            </div>



        </div>








        <mat-accordion *ngIf="!simple" multi>
            <mat-expansion-panel opened>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-3">filter_list</mat-icon>Filter
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>

                    <div class="mb-3">
                        Schedule type:


                        <mat-button-toggle-group name="rangeType"
                                                 #rangeTypeGroup="matButtonToggleGroup"
                                                 aria-label="rangeType"
                                                 (change)="onRangeTypeChange($event)"
                                                 class="w-100">
                            <mat-button-toggle class="w-100"
                                               value="daily">
                                Daily
                            </mat-button-toggle>
                            <mat-button-toggle class="w-100"
                                               value="weekly">
                                Weekly
                            </mat-button-toggle>
                            <mat-button-toggle class="w-100"
                                               value="monthly">
                                Monthly
                            </mat-button-toggle>
                            <mat-button-toggle class="w-100"
                                               value="all"
                                               checked>
                                All
                            </mat-button-toggle>
                        </mat-button-toggle-group>


                    </div>
                    <div class="mb-3">
                        Operation type :

                        <mat-button-toggle-group name="operationsType"
                                                 #operationsTypeGroup="matButtonToggleGroup"
                                                 aria-label="operationsType"
                                                 (change)="onOperationsTypeChange($event)"
                                                 class="w-100">
                            <mat-button-toggle class="w-100"
                                               value="all"
                                               checked>
                                <mat-icon>add</mat-icon> /
                                <mat-icon>remove</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle class="w-100"
                                               value="income">
                                <mat-icon>add</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle class="w-100"
                                               value="expense">
                                <mat-icon>remove</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>

                    </div>
                    <div class="">
                        Category:
                        <ng-container *ngIf="(allCategories$ | async) as categoriesList">


                            <mat-expansion-panel>
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        select categories {{categoriesSelectionList.selectedOptions.selected.length
                                        > 0
                                        ? '
                                        - ' + categoriesSelectionList.selectedOptions.selected.length : ''}}
                                    </mat-panel-title>

                                </mat-expansion-panel-header>


                                <mat-selection-list dense
                                                    #categoriesSelectionList
                                                    (selectionChange)="updateOperations()">
                                    <mat-list-option *ngFor="let cat of categoriesList"
                                                     [value]="cat">
                                        <mat-icon matListIcon
                                                  [style.color]="cat.color">
                                            {{ cat.icon ? cat.icon : 'category' }}
                                        </mat-icon>
                                        <p matLine>

                                            {{cat.name}}
                                        </p>
                                    </mat-list-option>
                                </mat-selection-list>



                            </mat-expansion-panel>


                        </ng-container>

                    </div>

                </ng-template>



            </mat-expansion-panel>

            <!--
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <mat-icon class="mr-3">sort</mat-icon>Sort

                    </mat-panel-title>
                </mat-expansion-panel-header>
                <ng-template matExpansionPanelContent>
                    <div class="mb-3">
                        By:
                        <mat-button-toggle-group name="sortType"
                                                 #sortTypeGroup="matButtonToggleGroup"
                                                 aria-label="sortType"
                                                 (change)="onSortTypeChange($event)"
                                                 class="w-100">
                            <mat-button-toggle class="w-100"
                                               value="date"
                                               checked>Date</mat-button-toggle>
                            <mat-button-toggle class="w-100"
                                               value="value">Value</mat-button-toggle>
                        </mat-button-toggle-group>

                    </div>

                    <div>
                        Order:
                        <mat-button-toggle-group name="sortOrder"
                                                 #sortOrderGroup="matButtonToggleGroup"
                                                 aria-label="sortOrder"
                                                 (change)="onSortOrderChange($event)"
                                                 class="w-100">
                            <mat-button-toggle class="w-100"
                                               value="asc">
                                <mat-icon>north_east</mat-icon>
                            </mat-button-toggle>
                            <mat-button-toggle class="w-100"
                                               value="desc"
                                               checked>
                                <mat-icon>south_east</mat-icon>
                            </mat-button-toggle>
                        </mat-button-toggle-group>
                    </div>

                </ng-template>



            </mat-expansion-panel>
            -->
        </mat-accordion>



    </div>



    <div class="col">

        <ng-container *ngIf="(this.displayedScheduledOperations$ | async) as displayedList;else loading">
            
            <div class="mat-caption text-center p-1" >
                Displaying {{ this.displayedScheduledOperations.length }} of {{this.allScheduledOperations.length}}

            </div>

            <mat-list dense>

                <ng-container *ngFor="let type of getScheduleTypes()">
                    <ng-container *ngIf="this.getScheduledOperationsByType(type) as list ">
                        <div mat-subheader
                             *ngIf="list.length > 0">{{getScheduleTypeName(type)}}</div>

                        <ng-container *ngFor="let so of list">

                            <app-scheduled-operation-list-element [so]="so"
                                                                  (onDelete)="deleteOperation($event)"
                                                                  (onModify)="modifyOperation($event)"
                                                                  (onChangeActiveState)="chnageActiveState($event)"
                                                                  [compact]="simple">
                                ...
                            </app-scheduled-operation-list-element>

                        </ng-container>


                    </ng-container>

                </ng-container>


            </mat-list>
        </ng-container>
        <ng-template #loading>
            <app-loading-spinner></app-loading-spinner>
        </ng-template>


    </div>
</div>