<div>

    <mat-card>
        <mat-card-header>
            <mat-card-title>
                <h2>Operations:</h2>

            </mat-card-title>
            <mat-card-subtitle>
                recent
            </mat-card-subtitle>
        </mat-card-header>

        <mat-card-content>
            <app-recent-operations-table>...</app-recent-operations-table>

        </mat-card-content>

        <mat-card-actions>
            <button mat-button
                    (click)="onNewClick($event)">
                Add new
            </button>
        </mat-card-actions>
    </mat-card>
</div>