<mat-card class="small-card  mat-elevation-z4">
  <mat-card-header>

    <a mat-button
       [routerLink]="link.url">
      {{link.title}}
    </a>

  </mat-card-header>

  <mat-card-content>

    <ng-container *ngIf="(futurePredictionPoints$ | async) as list; else loading">
      <mat-list dense *ngIf="list.length > 0; else empty">

        <ng-container *ngFor="let pp of list; index as i; first as isFirst">
  
          <ng-container *ngIf="isFirst || !compareDates(pp.date, (futurePredictionPoints$ | async)[i-1].date)">
            <mat-divider *ngIf="!isFirst"></mat-divider>
            <div mat-subheader>{{ pp.date.toLocaleDateString()}}</div>
          </ng-container>
  
  
          <ng-container *ngFor="let op of pp.operations">
  
  
  
            <app-scheduled-operation-list-element [so]="op.scheduled_operation"
                                                  [displayButton]="false"
                                                  [compact]="true">
            </app-scheduled-operation-list-element>
  
          </ng-container>
  
        </ng-container>
      </mat-list>
    </ng-container>
    <ng-template #loading>
      <app-loading-spinner></app-loading-spinner>
    </ng-template>
    <ng-template #empty>
      it's empty here
    </ng-template>

    
  </mat-card-content>


</mat-card>