<div class="row m-0 p-2">
    <div class="col">
        <span class="mat-display-1">
            Categories
        </span>
    </div>
</div>

<div class="row m-0 p-2">
    <div class="col">

        <button mat-flat-button
                type="button"
                color="primary"
                (click)="onNewClick()">
            Add new
            <mat-icon>
                add
            </mat-icon>
        </button>



    </div>
</div>



<div class="row m-0 no-gutters">
    <div class="col">

        <ng-container *ngIf="(this.categories$ | async) as list; else loading">
            <div class="mat-caption text-center">
                Displaying {{ list.length }} {{ list.length == 1 ? 'category' : 'categories'}}
            </div>
            <mat-list dense>

                <ng-container *ngFor="let cat of list; index as i; first as isFirst">

                    <app-category-list-element [cat]="cat"
                                               [compact]="false"
                                               (onDelete)="deleteCategory($event)"
                                               (onModify)="modifyCategory($event)">
                        ...
                    </app-category-list-element>
                    <mat-divider></mat-divider>
                </ng-container>

            </mat-list>
        </ng-container>
        <ng-template #loading>
            <app-loading-spinner></app-loading-spinner>
        </ng-template>






    </div>
</div>