<div class="container mt-5"
     *ngIf="auth.user$ | async as user">
  <div class="row align-items-center profile-header mb-5 text-center text-md-left">
    <div class="col-md-2">
      <img [src]="user.picture"
           class="rounded-circle img-fluid profile-picture mb-3 mb-md-0" />
    </div>
    <div class="col-md">
      <h2>{{ user.name }}</h2>
      <p class="lead text-muted">{{ user.email }}</p>
    </div>
  </div>
  <!--
  <div class="row"
       *ngIf="profileJson">
    {{profileJson}}
  </div>
  -->
</div>


<br />
<br />
<br />
<br />
<br />

<mat-expansion-panel hideToggle>
  <mat-expansion-panel-header>
    <mat-panel-title> Random material compoennts </mat-panel-title>
    <mat-panel-description> nothing to see here </mat-panel-description>
  </mat-expansion-panel-header>











  <h3>
    snackbaras
  </h3>

  <button mat-flat-button
          (click)="openSnack('henlo')">
    open snackbar
  </button>

  <button mat-flat-button
          (click)="openSnack('Deleted', 'Undo')">
    DELETE
  </button>


  <button mat-flat-button
          (click)="openCustomSnack()">
    Custom
  </button>


  <br>
  <br>
  <br>
  <br>

  <h3>
    tooltip
  </h3>

  <button mat-raised-button
          matTooltip="ah yes"
          matTooltipShowDelay="2000"
          matTooltipHideDelay="2000">
    butt
  </button>
  <button mat-raised-button
          matTooltip="ah yes"
          matTooltipPosition="after"
          matTooltipShowDelay="600">
    butt
  </button>
  <button mat-raised-button
          matTooltip="ah yes"
          matTooltipPosition="before">
    butt
  </button>
  <br>
  <br>
  <br>
  <br>


  <h3>
    autocomplete
  </h3>

  <form>
    <mat-form-field>
      <input matInput
             [formControl]="exampleformControl"
             #weekday
             [matAutocomplete]="auto">
      <mat-autocomplete #auto="matAutocomplete"
                        [displayWith]="displayWeekday">
        <mat-option *ngFor="let day of this.filteredOptions | async"
                    [value]="day">
          {{ day.name }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
  </form>

  <br>
  <br>
  <br>
  <br>
  <p>
    input
  </p>

  <mat-form-field appearance="legacy"
                  color="accent">
    <mat-label>
      name legacy
    </mat-label>
    <input matInput>
    <mat-hint align="end">
      yout name please
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="standard">
    <mat-label>
      name standard
    </mat-label>
    <input matInput>
    <mat-hint align="end">
      yout name please
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill"
                  color="warn">
    <mat-label>
      name fill
    </mat-label>
    <input matInput>
    <mat-hint align="end">
      yout name please
    </mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>
      name outline
    </mat-label>
    <input matInput>
    <mat-hint align="end">
      yout name please
    </mat-hint>
  </mat-form-field>


  <br>
  <br>
  <br>
  <br>

  Stepper

  <mat-horizontal-stepper liniear>
    <mat-step label="check">
      <p>checkout</p>
      <button mat-button
              matStepperNext>Next step</button>
    </mat-step>


    <mat-step label="delivery"
              optional>
      <p>select delivery options</p>
      <button mat-button
              matStepperPrevious>Go back</button>
      <button mat-button
              matStepperNext>Next step</button>
    </mat-step>


    <mat-step label="pay">
      <p>pay for stuff</p>
      <button mat-button
              matStepperPrevious>Go back</button>
    </mat-step>


  </mat-horizontal-stepper>

  <br>
  <br>
  <br>
  <br>


  <mat-tab-group #tabgroup
                 (selectedTabChange)="log(tabgroup.selectedIndex)">
    <mat-tab label="angular">
      angular
    </mat-tab>
    <mat-tab label="react">
      react
    </mat-tab>
    <mat-tab label="vue">
      vue

    </mat-tab>
  </mat-tab-group>

  seleted tab : {{ tabgroup.selectedIndex }}


  <br>
  <br>
  <br>

  <mat-accordion multi="true">
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title> panel title </mat-panel-title>
        <mat-panel-description> panel desc </mat-panel-description>
      </mat-expansion-panel-header>
      <p>some random content</p>
      <mat-action-row>
        <button mat-button> Enroll </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> panel title </mat-panel-title>
        <mat-panel-description> panel desc </mat-panel-description>
      </mat-expansion-panel-header>
      <p>some random content</p>
      <mat-action-row>
        <button mat-button> Enroll </button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> panel title </mat-panel-title>
        <mat-panel-description> panel desc </mat-panel-description>
      </mat-expansion-panel-header>
      <p>some random content</p>
      <mat-action-row>
        <button mat-button> Enroll </button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>


  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title> another panel </mat-panel-title>
      <mat-panel-description> panel desc </mat-panel-description>
    </mat-expansion-panel-header>
    <p>some random content</p>
    <mat-action-row>
      <button mat-button> Enroll </button>
    </mat-action-row>
  </mat-expansion-panel>

  <br>
  <br>
  <br>
  <br>
  <br>


  <mat-grid-list cols="3"
                 rowHeight="fit"
                 style="height: 100px;"
                 gutterSize="1rem">

    <mat-grid-tile rowspan="2"> Tile 1 </mat-grid-tile>
    <mat-grid-tile> Tile 2 </mat-grid-tile>
    <mat-grid-tile> Tile 3 </mat-grid-tile>
    <mat-grid-tile colspan="2"> Tile 3 </mat-grid-tile>

  </mat-grid-list>

  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>

  <mat-list>
    <mat-list-item>
      <mat-icon matListIcon>home</mat-icon>
      <h3 matLine> heading</h3>
      <p matLine> line</p>

    </mat-list-item>

    <mat-divider></mat-divider>


    <mat-list-item>
      <mat-icon matListIcon>folder</mat-icon>
      <h3 matLine> heading</h3>
      <p matLine> line</p>
    </mat-list-item>
  </mat-list>

  <br>
  <br>

  <mat-list dense>
    <mat-list-item>item1</mat-list-item>
    <mat-list-item>item2</mat-list-item>
  </mat-list>

  <br>
  <br>

  <mat-nav-list>
    <a gref="#"
       mat-list-item>item2</a>
    <a gref="#"
       mat-list-item>item1</a>
  </mat-nav-list>




  <br>
  <br>
  <br>
  <br>
  <br>
  <button mat-icon-button
          [matMenuTriggerFor]="myMenu">
    <mat-icon>menu</mat-icon>menu
  </button>
  <mat-menu #myMenu="matMenu"
            xPosition="after"
            yPosition="above">
    <button mat-menu-item> option 1</button>
    <button mat-menu-item> option 2</button>
    <button mat-menu-item
            [matMenuTriggerData]="{date : 45}"
            [matMenuTriggerFor]="subMenu"> option 3</button>
    <button mat-menu-item
            [matMenuTriggerData]="{date : 69}"
            [matMenuTriggerFor]="subMenu"> option 3</button>
  </mat-menu>

  <mat-menu #subMenu="matMenu">
    <!-- lazy loading-->
    <ng-template matMenuContent
                 let-date="date">
      <button mat-menu-item> brrrr 1</button>
      <button mat-menu-item> brrrr 2</button>
      <button mat-menu-item> dynamic content : {{ date }}</button>

    </ng-template>
  </mat-menu>


  <br>
  <br>
  <br>


  <mat-sidenav-container style="height:200px">

    <mat-sidenav (closed)="log('side closed')"
                 (opened)="log('side opened')"
                 #sidenav
                 mode="side"
                 [(opened)]="sidenavOpened"
                 style="padding:2rem; width:200px; background-color: rgba(255, 128, 64, 1);">
      side
      mode="push"
      mode="over"
      mode="side"
    </mat-sidenav>

    <mat-sidenav-content style="padding:2rem;">

      <button mat-flat-button
              (click)="sidenav.toggle()">
        'sidenav.toggle'
      </button>

      <button mat-flat-button
              (click)="sidenav.close()">
        'sidenav.close'
      </button>

      <button mat-flat-button
              (click)="sidenav.open()">
        'sidenav.open'
      </button>

      <button mat-flat-button
              (click)="sidenavOpened = !sidenavOpened">
        {{ sidenavOpened ? 'close' : 'open'}}
      </button>
    </mat-sidenav-content>

  </mat-sidenav-container>

  <br>
  <br>
  <br>

  <mat-toolbar class="example-navbar">
    <div>app name</div>
    <div>
      <span> link </span>
      <span> link </span>
      <span> link </span>
    </div>
  </mat-toolbar>



  <br>
  <br>
  <br>




  <mat-toolbar><span>app name</span></mat-toolbar>
  <mat-toolbar color="accent"><span>app accent</span></mat-toolbar>
  <mat-toolbar color="primary"><span>app primary</span></mat-toolbar>
  <mat-toolbar color="warn"><span>app warn</span></mat-toolbar>


  <br>
  <br>
  <br>


  <mat-progress-spinner value="12"></mat-progress-spinner>
  <mat-progress-spinner value="24"
                        color="accent"></mat-progress-spinner>
  <mat-progress-spinner value="85"
                        color="warn"></mat-progress-spinner>
  <mat-spinner></mat-spinner>
  <br>
  <mat-progress-bar value="55"></mat-progress-bar>
  <mat-progress-bar value="35"></mat-progress-bar>
  <mat-progress-bar value="85"></mat-progress-bar>



  <br>



  <span [matBadge]="this.randomNumber">Notifications</span><br><br>
  <span matBadge="69"
        matBadgePosition="below before"
        matBadgeColor="accent">accent below before</span><br><br>
  <span matBadge="69"
        matBadgePosition="above before"
        matBadgeColor="warn">warn above before</span><br><br>
  <span matBadge="69"
        matBadgePosition="below after"
        matBadgeColor="primary">primary below after</span><br><br>
  <span matBadge="69"
        matBadgePosition="above after">above after</span><br><br>

  <span matBadge="69"
        matBadgePosition="above after"
        matBadgeOverlap="false"
        matBadgeSize="large">large</span><br><br>
  <span matBadge="69"
        matBadgePosition="above after"
        matBadgeOverlap="false"
        matBadgeSize="small">small</span><br><br>
  <span matBadge="69"
        matBadgePosition="above after">above after</span><br><br>


  <button mat-button
          id="simple"
          [matBadge]="542">Simple</button>
  <button mat-button
          matBadge="O"
          [matBadgeOverlap]="true">Overlapping</button>
  <button mat-button
          matBadge="D"
          [matBadgeDisabled]="true">Disabled</button>


  <br>

  <mat-icon>menu</mat-icon>
  <mat-icon>grade</mat-icon>
  <mat-icon color="primary">grade</mat-icon>
  <mat-icon color="accent">grade</mat-icon>
  <mat-icon color="warn">grade</mat-icon>

  <br />
  <mat-button-toggle-group #toggleGroup="matButtonToggleGroup"
                           multiple>

    <mat-button-toggle value="1">button 1</mat-button-toggle>
    <mat-button-toggle value="2">button 2</mat-button-toggle>
    <mat-button-toggle value="3">button 3</mat-button-toggle>

  </mat-button-toggle-group>
  choice : {{ toggleGroup.value }}


  <br>



  <mat-button-toggle #tglbtn>toggle button : {{ tglbtn.checked }}</mat-button-toggle><br />
  <mat-button-toggle #tglbtn2
                     checked
                     disableRipple>toggle button : {{ tglbtn2.checked }}</mat-button-toggle><br />



  <button mat-button> mat-button</button><br />
  <button mat-raised-button> mat-raised-button</button><br />
  <button mat-flat-button> mat-flat-button</button><br />
  <button mat-stroked-button> mat-stroked-button</button><br />
  <button mat-icon-button>mat-icon-button</button><br />
  <button mat-fab>mat-fab-button</button><br />
  <button mat-mini-fab>button</button><br />

  <button mat-button>button</button><br />
  <button mat-raised-button
          color="primary">primary</button><br />
  <button mat-raised-button
          color="accent">accent</button><br />
  <button mat-raised-button
          color="warn">warn</button><br />
  <button mat-button
          disableRipple>button</button><br />

  home page loaded


  <div class="mat-display-4">mat-display-4</div>
  <div class="mat-display-3">mat-display-3</div>
  <div class="mat-display-2">mat-display-2</div>
  <div class="mat-display-1">mat-display-1</div>

  <div class="mat-headline">Oh, yeah, 420 lit, man</div>
  <div class="mat-title">Oh, yeah, 420 lit, man</div>
  <div class="mat-subheading-1">Oh, yeah, 420 lit, man</div>
  <div class="mat-subheading21">Oh, yeah, 420 lit, man</div>

  <div class="mat-body-1">mat-body-1</div>
  <div class="mat-body-2">mat-body-2</div>
  <div class="mat-caption">mat-caption</div>

  <div class="mat-typography">
    <h1>h1</h1>
    <h2>h2</h2>
    <h3>h3</h3>
    <h4>h4</h4>
  </div>


  <button mat-flat-button> xd </button>



</mat-expansion-panel>