<div *ngIf="displayTitle"
     class="row m-0 p-2">
    <div class="col-12">
        <span class="mat-display-1">
            When will I have ...
        </span>
    </div>

    <div class="col p-3">
        <span class="">
            Here you can find out when wiil you have certain amount of money. That's useful for example when you want to
            figure out when will be the right time to buy something.
        </span>
    </div>

</div>

<div class="row m-0">
    <div class="col"></div>
    <div class="col-12 col-sm-12 col-md-6  ">
        <form [formGroup]="form">
            <mat-form-field class="w-100">
                <mat-label>Type amount</mat-label>
                <input type="number"
                       matInput
                       formControlName="amount">
            </mat-form-field>
        </form>


        <button mat-flat-button
                color="primary"
                class="w-100 p-1"
                (click)="onFormSubmit()"
                [disabled]="loading">
            Check
        </button>

    </div>
    <div class="col"></div>
</div>


<ng-container *ngIf="!loading; else loadingTemplate">

    <ng-container *ngIf="(result$ | async) as result">
        <div class="row m-0">
            <div class="col"></div>
            <div class="col-12 col-sm-12 col-md-6 text-center p-3">
                <span class="mat-display-2"
                      *ngIf="!neverFlag">
                    {{result.resultDateA.toLocaleDateString()}}
                </span>
                <span class="mat-display-2 "
                      *ngIf="neverFlag">
                    <mat-icon class="big-icon">
                        sentiment_very_dissatisfied
                    </mat-icon>

                </span>
                <p class="mat-headline">
                    {{ (result.yearsDiff == 0 && result.monthsDiff == 0 && result.daysDiff == 0) ? 'today' : 'in '}} {{
                    result.yearsDiff ? result.yearsDiff.toLocaleString().toLocaleLowerCase() + ' years ' : ''}} {{
                    result.monthsDiff ? result.monthsDiff.toLocaleString().toLocaleLowerCase() + '
                    months ' : ''}} {{
                    result.daysDiff ? result.daysDiff.toLocaleString().toLocaleLowerCase() + ' days ' : ''}}
                </p>


            </div>
            <div class="col"></div>


            <div class="col-12">
                <ng-container *ngIf="chartConfig$ && !neverFlag">

                    <app-prediction-chart-card [config$]="chartConfig$.asObservable()">
                    </app-prediction-chart-card>






                </ng-container>
            </div>


        </div>
    </ng-container>

</ng-container>
<ng-template #loadingTemplate>
    ... loading ...
    <app-loading-spinner>

    </app-loading-spinner>
</ng-template>