.schedule-desc {
  opacity: 55%;
  padding-left: 0.5rem;
}
mat-list-item {
  max-width: 100%;
  transition: background-color 0.2s;
}

.sop-disabled {
  opacity: 0.5;
}

.mat-title {
  padding-right: 0.3rem;
}


