<div class="row p-2">
    <div class="col">
        <span class="mat-display-1">
            Operations
        </span>
    </div>
</div>

<div class="row p-2">
    <div class="col">

        <button mat-button
                type="button"
                (click)="onNewClick()">
            Add new
        </button>

        <button mat-button
                type="button"
                (click)="deleteAllOperations()">
            Delete all
        </button>

        <button mat-button
                type="button"
                (click)="generate()">
            Generate from scheduled operations
        </button>









    </div>
</div>


<div class="row no-gutters">
    <div class="col">


        <mat-button-toggle-group name="rangeType"
                                 #rangeTypeGroup="matButtonToggleGroup"
                                 aria-label="rangeType"
                                 (change)="onRangeTypeChange($event)">
            <mat-button-toggle value="month">Last month</mat-button-toggle>
            <mat-button-toggle value="week"
                               checked>Last week</mat-button-toggle>
            <mat-button-toggle value="custom">Custom</mat-button-toggle>
        </mat-button-toggle-group>



        <form [formGroup]="form"
              (submit)="onFormSubmit()">
            <ng-container *ngIf="rangeTypeGroup.value == 'custom'">
                <mat-form-field appearance="fill">
                    <mat-label>Enter a date range</mat-label>
                    <mat-date-range-input [rangePicker]="picker">
                        <input matStartDate
                               formControlName="startDate"
                               placeholder="Start date">
                        <input matEndDate
                               formControlName="endDate"
                               placeholder="End date">
                    </mat-date-range-input>
                    <mat-datepicker-toggle matSuffix
                                           [for]="picker"></mat-datepicker-toggle>
                    <mat-date-range-picker #picker></mat-date-range-picker>
                </mat-form-field>

            </ng-container>



        </form>



    </div>
    <div class="col">
        <mat-button-toggle-group name="operationsType"
                                 #operationsTypeGroup="matButtonToggleGroup"
                                 aria-label="operationsType"
                                 (change)="onOperationsTypeChange($event)">
            <mat-button-toggle value="all"
                               checked>All</mat-button-toggle>
            <mat-button-toggle value="income">Income</mat-button-toggle>
            <mat-button-toggle value="expenses">Expenses</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
</div>


<div class="row no-gutters">
    <div class="col">

        <ng-container *ngIf="(this.displayedOperations$ | async) as list; else loading">
            <div class="mat-caption">
                Displaying {{ list.length }} {{ list.length == 1 ? 'operation' : 'operations'}}
                from : {{this.startDate.toISOString().substr(0, 10)}}
                to : {{this.endDate.toISOString().substr(0, 10)}}

            </div>
            <mat-list dense>


                <ng-container *ngFor="let op of list; index as i; first as isFirst">

                    <ng-container *ngIf="isFirst || !compareDates(op.when, list[i-1].when)">
                        <mat-divider *ngIf="!isFirst"></mat-divider>
                        <div mat-subheader>{{ op.when.toISOString().substr(0, 10)}}</div>

                    </ng-container>
                    <app-operation-list-element [op]="op"
                                                [compact]="false"
                                                (onDelete)="deleteOperation($event)"
                                                (onModify)="modifyOperation($event)">
                        ...
                    </app-operation-list-element>
                </ng-container>

            </mat-list>
        </ng-container>
        <ng-template #loading>
            <app-loading-spinner></app-loading-spinner>
        </ng-template>






    </div>
</div>