<mat-card class="small-card">
    <mat-card-header>



        <a mat-button
           [routerLink]="link.url">

            {{link.title}}
        </a>





    </mat-card-header>

    <mat-card-content>
        <ng-container *ngIf="this.operations as list; else loading">
            <mat-list dense
                      *ngIf="list.length > 0; else empty">


                <ng-container *ngFor="let op of list; index as i; first as isFirst">

                    <ng-container *ngIf="isFirst || !compareDates(op.when, list[i-1].when)">
                        <mat-divider *ngIf="!isFirst"></mat-divider>
                        <div mat-subheader>{{ op.when.toISOString().substr(0, 10)}}</div>

                    </ng-container>
                    <app-operation-list-element [op]="op"
                                                [displayButton]="false"
                                                [compact]="true">
                    </app-operation-list-element>
                </ng-container>



            </mat-list>
        </ng-container>


        <ng-template #loading>

            <app-loading-spinner></app-loading-spinner>
        </ng-template>
        <ng-template #empty>
            it's empty here
        </ng-template>

    </mat-card-content>


</mat-card>