<div class="h-100 mat-bg-background"
     [class.dark-theme]="isDarkTheme"
     [class.light-theme]="!isDarkTheme"
     *ngIf="false; else loaded">

  <div class="center h-100 mat-bg-background">
    <mat-spinner></mat-spinner>
  </div>

</div>

<ng-template #loaded>


  <div class="d-flex flex-column h-100"
       [class.dark-theme]="isDarkTheme"
       [class.light-theme]="!isDarkTheme">


    <mat-sidenav-container class="h-100">


      <mat-sidenav #mainSidenav
                   mode="{{ isHandsetLayout? 'over' : 'side'  }}">
        <app-sidenav (changeTheme)="changeTheme()"
                     [sidenav]="mainSidenav"></app-sidenav>
      </mat-sidenav>


      <mat-sidenav-content>

        <app-nav-bar (toggleMenu)="mainSidenav.toggle()">

        </app-nav-bar>



        <div *ngIf="(auth.isLoading$ | async); else router"
             class="center h-100 mat-bg-background">
          <mat-spinner></mat-spinner>
        </div>


        <ng-template #router>
          <div class="container flex-grow-1 flex-shrink-1">
            <router-outlet></router-outlet>
          </div>
        </ng-template>

      </mat-sidenav-content>


    </mat-sidenav-container>


  </div>
</ng-template>