<div *ngIf="auth.isLoading$ | async; else loaded">
</div>
<ng-template #loaded>
    <ng-container *ngIf="auth.user$ | async as user; else notLoggedIn">



        <div class="row m-0 row-eq-height">

            <div class="col pr-1 pl-1 mt-2 m-0 ">

                <app-current-prediction-card>
                </app-current-prediction-card>
            </div>
        </div>

        <div class="row m-0 row-eq-height">

            <div class="col pr-1 pl-1 mt-2 m-0">
                <app-scheduled-operations-card>
                </app-scheduled-operations-card>
            </div>

            <div class="col pr-1 pl-1 mt-2 m-0">
                <app-operations-card>

                </app-operations-card>

            </div>
        </div>
        <div class="row m-0 row-eq-height">


            <div class="col-sm-12 col-md-6 pr-1 pl-1 mt-2 m-0">

                <app-prediction-chart-card [config$]="config2">
                </app-prediction-chart-card>
            </div>
            <div class="col-sm-12 col-md-6 pr-1 pl-1 mt-2 m-0">

                <app-prediction-chart-card [config$]="config1">
                </app-prediction-chart-card>
            </div>



        </div>

    </ng-container>


    <ng-template #notLoggedIn>
        <div class="">
            <div class="row m-0 p-3">
                <div class="col pr-1 pl-1 mt-2 text-center"></div>
            </div>
            <div class="row m-0 ">



                <div class="col-sm col-1 text-center"></div>

                <div class="col-sm col-10 text-center">
                    <div class="logo-container">
                        <img class="img-fluid"
                             src="/assets/img/budgetapp-logo.png">

                    </div>

                </div>

                <div class="col-sm col-1 text-center"></div>


            </div>

            <div class="row m-0 ">



                <div class="col-12 text-center p-3">
                    <span class="mat-display-2">
                        Budgetapp
                    </span>
                    <p class="mat-body-1 p-2">

                        Sign in now and start planning your home budget!
                    </p>
                </div>




            </div>

            <div class="row m-0 ">
                <div class="col pr-1 pl-1 mt-2 text-center p-3">
                    <button mat-flat-button
                            color="primary"
                            class=""
                            (click)="onSignInClick()">
                        Sign in now
                    </button>
                </div>

            </div>
        </div>





    </ng-template>




</ng-template>