.days-viewport {
  height: 500px;
}
::ng-deep .mat-list-icon{
  height:auto !important;
  border-radius: 15%  !important;
  padding:6px !important;
}


::ng-deep .mat-expansion-panel-body{
  padding-left:0.2rem !important;
  padding-right:0.2rem !important;
}


::ng-deep  .mat-panel-description{
  text-align: right !important;
}




/*
.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}
*/

.example-headers-align .mat-expansion-panel-header-title{
  
  flex-grow: unset  !important;
  /*
  display:inline !important;
  */
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.select-date-button{
  padding: .5rem;
}
