/*
prediction-delta
*/
.prediction-plus {
  color: rgb(0, 255, 0);
}

.prediction-minus {
  color: rgb(255, 0, 0);
}
.predition-future {
  font-size: 1.25rem;
  padding-left: 1rem;
  padding-right: 1rem;
}
